In [9]:
import pandas as pd

In [10]:
path="melb_data.csv"
data=pd.read_csv(path)


#describing data
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [11]:
data.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.8008,144.9973,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019.0

In [12]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [13]:
#removing null values
data=data.dropna(axis=0)

In [14]:
#output variable
y=data.Price

In [15]:
#selecting features (predictor columns) adjust features to see changes in fit
data_features=['Rooms','Bathroom','Landsize','Car']
x=data[data_features]

In [16]:
x.describe()

             Rooms     Bathroom      Landsize          Car
count  6196.000000  6196.000000   6196.000000  6196.000000
mean      2.931407     1.576340    471.006940     1.573596
std       0.971079     0.711362    897.449881     0.929947
min       1.000000     1.000000      0.000000     0.000000
25%       2.000000     1.000000    152.000000     1.000000
50%       3.000000     1.000000    373.000000     1.000000
75%       4.000000     2.000000    628.000000     2.000000
max       8.000000     8.000000  37000.000000    10.000000

In [17]:
#building actual model
from sklearn.tree import DecisionTreeRegressor as tree
model1=tree(random_state=1)
model1.fit(x,y)
#fitting done

DecisionTreeRegressor(random_state=1)

In [18]:
#evaluation
#testing with first 5 rows of data
x.head()

   Rooms  Bathroom  Landsize  Car
1      2       1.0     156.0  0.0
2      3       2.0     134.0  0.0
4      4       1.0     120.0  2.0
6      3       2.0     245.0  0.0
7      2       1.0     256.0  2.0

In [19]:
#price predictions
print(model1.predict(x.head()))

[1211666.66666667 1465000.         1600000.         1876000.
 1636000.        ]

In [22]:
x.dtypes

Rooms         int64
Bathroom    float64
Landsize    float64
Car         float64
dtype: object

In [45]:
#testing for user inputs
rooms=int(input("enter rooms :"))
bath=float(input("enter bathrooms : "))
land=float(input("enter plot size : "))
car=float(input("enter parking spaces : "))

usr=[rooms,bath,land,car]
est_price = model1.predict([usr])


print("Estimated Price of House : ",est_price)

enter rooms :3
enter bathrooms : 3
enter plot size : 2500
enter parking spaces : 1
Estimated Price of House :  [1050000.]

D:\softwares\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [35]:
#testing error in model
from sklearn.metrics import mean_absolute_error as mae
predicted=model1.predict(x)
mae(y,predicted)

96676.9529526269

In [39]:
#comparing mae with leef node numbers
from sklearn.model_selection import train_test_split


train_X, val_X, train_y, val_y = train_test_split(x, y, random_state = 0)
# Define model
model2 = tree()
# Fit model
model2.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = model2.predict(val_X)
print(mae(val_y, val_predictions))

470458.31921861676

In [42]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = tree(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    errors = mae(val_y, preds_val)
    return(errors)

In [43]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  401406
Max leaf nodes: 50  		 Mean Absolute Error:  372583
Max leaf nodes: 500  		 Mean Absolute Error:  424603
Max leaf nodes: 5000  		 Mean Absolute Error:  465514

In [44]:
#using random forest algorithm
from sklearn.ensemble import RandomForestRegressor as forest
forest_model = forest(random_state=1)
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
print(mae(val_y, melb_preds))

411407.80186614534